# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datasets
New Plant Diseases Dataset(Augmented)/
PlantDoc-Dataset-master/

# Environment / secrets
.env

# Model checkpoints
*.pth


# Local development
.vscode/

# Generated similarity index
similarity_embeddings.npy
similarity_index.faiss
similarity_metadata.json